NODE_ENV=development
PORT=3000

DB_FILE=./data/inventory.sqlite

BETTER_AUTH_SECRET=CHANGE_THIS_SECRET_IN_PRODUCTION
BETTER_AUTH_URL=http://localhost:3000

ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!
